// font styles
$mainFont: Helvetica;

// Font size
$regularFont: 16px;
$largeFont: 24px;
$exlargeFont: 37px;

// color variables
$normalBackground: black;
$contrastBackground: white;
$h1Textcolor: white;
$contentBordercolor: black;

// mixin for content

@mixin formatContent(){
    font-size: $regularFont * 1.2;
    color: $h1Textcolor;
    text-transform: capitalize;
    background-color: rgba(0,0,0,0.6);
    padding: 5%;
    margin-bottom: 10%;
    height: 100%;
    width: 70%;
    // margin-right: 5%;
    // margin-left: 5%;
    // margin-bottom: 5%;
    // border-color: black;
    // border: solid;
    // float:left;
    clear: right;
    position: relative;
    #disclaimer{
        color: white;
        background-color: black;
    }
}